<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,132},{200,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>jingsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,132},{200,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,143}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{200,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{182,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c2bde54f9de1829f40836cef65be9ca$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
